:root {
    --navy-blue-color: #2E2F42;
    --white-color: #FFFFFF;
    --cloud-color: #F4F4FD;
    --slate-color: #434455;
    --iris-color: #4D5AE5;
    --cornflower-color: #E7E9FC;
    --main-page-color: #E5E5E5;
    --ocean-color: #404BBF;
}

/* TODO: указать доминантный цвет шрифта и убрать его использование из остальных мест */
/* TODO: C11 проверить */
/* TODO: C12 всех текстовых элементов точно соответствует значениям из макета и задана как множитель, а не в px. */
/* TODO: C14-С15 убрать дубляжи указания толшины текста */
/* TODO: C16 Кнопкам задано свойство cursor со значением pointer */
/* TODO: В стилях не повторяются значения свойств, которые заданы браузером по умолчнаию. Например, ссылкам не нужно указывать cursor: pointer, а абзацам font-style: normal или font-weight: 400 */

body {
    font-family: "Roboto", "Raleway";
    position: relative;
    background: var(--white-color);
    font-style: normal;
}

/* header */

.web {
    color: var(--iris-color);
}

.studio {
    color: var(--navy-blue-color);
}

.header-link {
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.navigation .header-link{
    color: var(--navy-blue-color);
}


.navigation .header-link:hover,
.navigation .header-link:focus{
    color: var(--slate-color);
}
/* main */
a{
    text-decoration: none;
}
.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-image {
    font-size: 60px;
    color: var(--white-color);
    background-color: var(--navy-blue-color);
}

.text-button {
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--iris-color);
    font-weight: 500;
    line-height: 24px;
    display: block;
    align-items: center;
    letter-spacing: 0.04em;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    margin: 0 auto;
}

.main-page {
    background-color: var(--main-page-color);
}

.links {
    color: var(--slate-color);
}

.section-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

.our-team {
    background-color: var(--cloud-color);
}

li {
    list-style-type: none;
}

address {
    font-style: normal;
}

.contacts {
    color: var(--navy-blue-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.item-btn .btn {
    font-size: 24px;
    color: var(--iris-color);
    background-color: var(--cornflower-color);
}

.item-btn .btn:hover,
.item-btn .btn:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/* footer */
.web,
.studio-white,
.studio {
    font-size: 18px;
}

.studio-white {
    color: var(--cloud-color);
}

.footer-background {
    background-color: var(--navy-blue-color);
}

.footer-text {
    color: var(--cloud-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    font-size: 16px;
}