:root {
    --navy-blue: #2E2F42;
    --white-color: #FFFFFF;
    --cloud-color: #F4F4FD;
    --slate-color: #434455;
    --iris-color: #4D5AE5;
    --cornflower-color: #E7E9FC;
    --main-page-color: #E5E5E5;
}

body {
    position: relative;
    width: 1440px;
    height: 2076px;
    background: var(--white-color);
    font-family: "Roboto", "Raleway";
    font-style: normal;
}

/* header */

.web {
    color: var(--iris-color);
}

.studio {
    color: var(--navy-blue);
}

.header-link {
    font-size: 16px;
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* main */
.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-image {
    font-size: 60px;
    color: var(--white-color);
    background-color: var(--navy-blue);
}

.text-button {
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--iris-color);
    font-weight: 500;
    line-height: 24px;
    display: block;
    align-items: center;
    letter-spacing: 0.04em;


    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    margin: 0 auto;
}

.main-page {
    background-color: var(--main-page-color);
}

.links {
    color: var(--slate-color);
}

.classes {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.our-team {
    background-color: var(--cloud-color);
}

li {
    list-style-type: none;
}

address {
    font-style: normal;
}

.contacts {
    color: var(--navy-blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.item-btn .btn {
    font-size: 24px;
    color: var(--iris-color);
    background-color: var(--cornflower-color);
}

.item-btn .btn:hover,
.item-btn .btn:focus {
    color: var(--white-color);
    background-color: #404BBF;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/* footer */
.web,
.studio-white {
    font-size: 21px;
}

.studio-white {
    color: var(--cloud-color);

}

.footer-background {
    background-color: var(--navy-blue);

}

.footer-text {
    color: var(--cloud-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    font-size: 16px;
}